body {
    background: linear-gradient(to bottom, #1e1e2f, #0d0d14);
    color: #ffffff;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header {
    background: #12121b;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #29293b;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
}

section button {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

section button:hover {
    background-color: #ff5555;
    color: #ffffff;
}

footer {
    background: #12121b;
    text-align: center;
    padding: 20px;
    border-top: 2px solid #29293b;
}

h1 {
    text-align: center;
    width: 45%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
